<div class="row" ng-if="!editMode">
	<div class="col-md-12">
		<input type="text" name="todoTitle" ng-model="currentTodo.title">
		<button type="btn btn-info" ng-click="createTodo()">
			Create
		</button>
	</div>
</div>

<div class="row" ng-if="editMode">
	<div class="col-md-12">
		<input type="text" name="todoTitle" ng-model="currentTodo.title">
		<button type="btn btn-info" ng-click="updateTodo()">
			Update
		</button>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered">
			<tr>
				<th>Id</th>
				<th>User</th>
				<th>Pet</th>
				<th>Title</th>
				<th>Completed</th>
				<th>Actions</th>
			</tr>
			<tr ng-repeat="todo in todos">
				<td>{{ todo.id }}</td>
				<td>{{ todo.user.getFullName() }}</td>
				<td>{{ todo.user.pet.getFullName() }}</td>
				<td>{{ todo.title }}</td>
				<td>{{ todo.completed }}</td>
				<td>
					<input type="checkbox" ng-model="todo.completed">
					<button type="btn btn-error" ng-click="setToEditMode(todo)">
					Update
					</button>
					<button type="btn btn-error" ng-click="deleteTodo(todo.id)">
					 Delete
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>
